In [3]:
from pyspark.sql import SparkSession
spark = None

In [4]:
if spark is not None:
    print('Stop previous session')
    spark.stop()
    spark = None
    
spark = SparkSession.builder.appName("Demo Hive") \
   .master("local[2]") \
   .config("spark.driver.memory", "2g") \
   .config("hive.metastore.uris", "thrift://localhost:20102") \
   .enableHiveSupport() \
   .getOrCreate()
spark

Create a Hive table on top of your CSV file
```sql
drop table listings;
create external table if not exists listings (
id INT,
station_id INT,
commodity_id INT,
supply INT,
supply_bracket INT,
buy_price INT,
sell_price INT,
demand INT,
demand_bracket INT,
collected_at INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION 'file:///C:/Users/Mathias/Work/Projects/jupyter-notebooks/database/listings'
TBLPROPERTIES ('serialization.null.format' = '', 'skip.header.line.count' = '1')
```

In [5]:
spark.sql("SELECT * FROM default.listings LIMIT 10").show()

+----+----------+------------+------+--------------+---------+----------+------+--------------+------------+
|  id|station_id|commodity_id|supply|supply_bracket|buy_price|sell_price|demand|demand_bracket|collected_at|
+----+----------+------------+------+--------------+---------+----------+------+--------------+------------+
|null|      null|        null|  null|          null|     null|      null|  null|          null|        null|
|   1|         1|           5|     0|             0|        0|       583|  1810|             2|  1573354346|
|   2|         1|           6|     0|             0|        0|      7195|   163|             2|  1573354346|
|   3|         1|           7|     0|             0|        0|       812|  1087|             2|  1573354346|
|  12|         1|           8|     0|             0|        0|       736|  6159|             3|  1573354346|
|  13|         1|           9|     0|             0|        0|      1260|  1966|             3|  1573354346|
|  14|         1|          12|     0|             0|        0|       824|   834|             3|  1573354346|
|  15|         1|          30|     0|             0|        0|       730|   366|             2|  1573354346|
|  16|         1|          31|     0|             0|        0|       489|   637|             2|  1573354346|
|  17|         1|          33|     0|             0|        0|       504|   986|             2|  1573354346|
+----+----------+------------+------+--------------+---------+----------+------+--------------+------------+